body{
    margin:0%;
    padding:0;

}

header .container {
    margin-top:1%;
    width:100%;
    position:fixed;
    z-index:1;

}

.inner-header{

   border-top:solid 2px;
   border-bottom:solid 2px;
}

.logo img{
    display:block;
    margin-left:auto;
    margin-right:auto;

}

ul{
    list-style-type: none;
    padding:0;
    margin-top: 0;
}

.slidershow ul li{
    position:sticky;
    top:0px;
}

li img{
   position:sticky;
   top:0;
   left:0;
   width:100%;
   padding:0;
}

footer .container {
    margin-top:10px;
    height:20%;
    width:100%;
}

.massage{
	display: flex;
	justify-content: center;
}

.massage ul li{
    display:inline;
    list-style-type: none;
    padding:10px;
}

a{
    text-decoration:none;
    color:#5C5E62;
    padding:5px;
}

@media(max-width:520px){
    .massage ul li{
        display:block;
    }
}

@media(max-width:1024px){
    .logo img{
        width:15%;
    }

}

@media(max-width:412){
    li img{
    width:100px;
    }
}




